// main: ../../default.scss
.c {
  &-steps {
    margin: 0 0 40px;
    @include flex();
  }
  &-step {
    width: 270px;
    border-top: 1px solid $beige;
    color: $beige;
    padding: 18px 0 0;
    margin: 0 0 0 25px;
    text-align: center;
    &:nth-child(1) {
      margin: 0;
    }
    &__here {
      border-top: 1px solid $green;
      color: $green;
    }
    &--desc {
      font-weight: 500;
    }
    @include mq(sp) {
      width: 30%;
      margin: 0 0 0 5%;
    }
  }
}
