// main: ../default.scss
@media all and (max-width: $media-S) {
  main {
    position: relative;
  }
  .menu-trigger {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: $green;
  }
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 30%;
    width: 40%;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 18px;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 24px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 18px;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
  }
  nav {
    width: 100%;
    height: 100%;
    // padding-top: 70px;
    background: #055c3c;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }
  .nav-logo {
    width: 170px;
    margin: 20px 0 30px 5%;
  }
  nav li {
    color: #fff;
    padding: 10px 0 10px 5%;
    border-top: 1px solid #067a4f;
  }
}
@media all and (min-width: $mediaM-) {
  nav {
    display: none;
  }
}
